* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    font-family: sans-serif;
    background:  #161616;
    color: #e2e2e2;    
}
h1{
    font-size:70px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
h2{
    margin: 60px 0px 10px 5px;
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
p{
    margin: 0 0 0 5px;
    font-size:16px;
    font-family: 'Open Sans', sans-serif;
}

/*generic body classes*/
.content{
    width: 100%;
    margin: 0 auto;
    position: relative;
    background:  #161616    
}
.genericContainer{
    width: 1120px;
    margin: 0 auto;
    position: relative;
    height:auto;
    overflow:auto;  
}
.dashes{
    width: 95%;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    margin: 5px 15px 15px 5px;
}

  /*Header starts here*/
.navBar{
    position: static;
    background: #000000;
    min-height: 46px; 
    margin: 0 auto;
    overflow:auto;
}
.navLeft{
    margin: 13px 0 10px;
    padding: 0;
    width: auto;
    float: left;
    display: block;
    height: 50px;
    font-size: 16px;
    z-index: 2;
    clear: both;
}
.navRight{
    font-size: 15px;
    display: block;
    position: absolute;
    margin-top: 25px;
    margin-right: 3px;
    text-align: right;
    right: 0;
    width: 100%;
    line-height: 20px; 
}
.navRight .icon {
    display: none;
  }
.navRight a{
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}
.navRight a:hover {
    background-color: rgb(243, 128, 141);
}
  

/*Showcase part starts here*/
.showcase {
	width: 100%;
	height: 89vh;
	position: relative;	
}
.showcase::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: rgba(0, 0, 0, 0.6);
	box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.showcase video {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index:-1
}
.showcaseContent {
    position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.showcaseContent h1 {
    font-weight: 700;
    font-family: 'Babas Neune', sans-serif;
	font-size: 5.2rem;
	line-height: 1.1;
    padding: 10rem 0px 2rem 0px;
    z-index: 2;
    animation-name: heading;
    animation-duration: 2s;

}

@keyframes heading {
  0%   {color:black;}
  100%  {color:white; left:200px; top:0px;}
}

.showcaseContent p {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
    margin: 0 0 2rem;
    animation-name: subHeading;
    animation-duration: 3s;
}

@keyframes subHeading {
  0%   {color:black;}
  100%  {color:white; left:200px; top:0px;}
}

/*Crew stars here*/
.DJ{
    width: 25%;
    float: left;
    margin: 0;
    overflow: hidden;
    display: block;
}
.DJ a{
    display: block;
    line-height: 0;
    color: #202020;
    text-decoration: none;
}
.DJ img{
    width:100%;
}
.DJ h3 {
    text-align: left;
    color: #fff;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
}
.DJinner{
    background:  #161616;
    /*background: rgb(227, 0, 27);*/
    margin: 5px;
    overflow: hidden;
    display: block; 
}
.DJinner:hover {
    background-color: rgb(243, 128, 141);
}

/*DJ pages start here*/
.DJpic{
    width: 50%;
    float: left;
    margin: 0px 0px 20px 0px;
    overflow: hidden;
    display: block;
}
.DJshowcaseRight{
    width: 50%;
    float: right;
    padding: 15rem 5rem 0;
    
}
.DJhype{
    overflow: hidden;
    display: inline-block;
}
.DJhype p{
    margin: 1rem 0 1rem;
    font-size:22px;
}
.DJhype img{ /*This is for the social icons, not for the actual img of the dj */
    width: 50px;
    margin: 30px 2px 0px 5px;
    filter: invert(14%) sepia(80%) saturate(4685%) hue-rotate(345deg) brightness(88%) contrast(114%);
    
}
.DJhype img:hover{
    filter: invert(61%) sepia(77%) saturate(705%) hue-rotate(306deg) brightness(103%) contrast(91%);
}
.DJhype img:hover{ 
    width: 50px;
    margin: 30px 2px 0px 5px;
}
.DJplaylist{
    Margin: 20px 0 20px;
}

/*Events & Contact starts here*/
.eventInner{
    margin: 5px;
    width:45%;
    overflow: hidden;
    display: block;
    float: left;    
}
#iframeBig{ 
    display: block; 
}
#iframeMedium{ 
    display: none; 
}
#iframeSmall{ 
    display: none; 
}
.contactInner{
    margin: 5px;
    width:45%;
    overflow: hidden;
    display: block;
    float: right;    
}

/*Footer starts here*/
.cc{
    margin: 10px 0px 10px 0px;
    font-size: 12px;
    color: gray;
}
.footerStyle{
    padding: 20px;
    width: 100%;
    margin: 20px auto 0px 0px;
    position: relative;
    background:  #4e4e4e    
}
.socialStrip{
    display: block;
    margin: 28px 5px 0 0;
    line-height: 22px;
    position: relative;
    top: 0;
    right: 0;
}
.socialStrip img{
    width: 30px;
    margin: 0px 2px 0px 2px;
}
.socialStrip img:hover{
    filter: contrast(70%);
}



/*instructions for responsive design*/
/*
@media screen and (min-width: 1505px) {
.DJ {width: 20%;}

}
@media screen and (max-width: 1504px) {
.DJ {width: 25%;}
*/

 
@media screen and (max-width: 1144px) {
#mobile{ /* kind of a crude way to tell if the user views the web on mobile*/
    display: none;
}
.DJ {width: 33%;}
.genericContainer{
    width:100%;
    padding: 0px 25px 0px 25px;
}
.eventInner{
    margin: 5px;
    width:100%;
    overflow: hidden;
    display: block;
    float: left;    
}
.contactInner{
    margin: 5px;
    width:100%;
    overflow: hidden;
    display: block;
    float: left;    
}
#iframeBig{ 
    display: block; 
}
#iframeMedium{ 
    display: none; 
}
#iframeSmall{ 
    display: none; 
}
.DJpic{
    width: 100%;
    float: left;
    margin: 0px 0px 20px 0px;
}
.DJshowcaseRight{
    width:100%;
    padding: 0px 25px 0px 25px;
}
}
@media screen and (max-width: 964px) {
.DJ {width: 33%;}
.genericContainer{
    width:100%;
    padding: 0px 25px 0px 25px;
}


}

@media screen and (max-width: 744px) {
.DJ {
    width: 50%;
}
.navRight a {
    display: none;
    padding: 5px;
}
.navRight a.icon {
      float: right;
      display: block;
      margin: 0 20px;
    }
.navRight.responsive {position: relative;}
.navRight.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
.navRight.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

.navLeft img{
    display: none;
}

}
@media screen and (max-width: 575px) {
#iframeBig{ 
    display: none; 
}
#iframeMedium{ 
    display: block; 
}
#iframeSmall{ 
    display: none; 
}
.showcaseContent h1 {
    padding: 2rem 0px 2rem 0px;
}
.DJh1 {
    font-size: 40px;
}
}

@media screen and (max-width: 390px) {
#iframeBig{ 
    display: none; 
    color: #660e0ec7;
    color:black;
}
#iframeMedium{ 
    display: none; 
}
#iframeSmall{ 
    display: block; 
}
}
@media screen and (max-height: 600px) {
    .showcaseContent h1 {
        padding: 2rem 0px 2rem 0px;
    }
}
    




